// Components
@import "./components/aside";
@import "./components/services-table";
@import "./components/s_types";
@import "./buefy";
@import "./style";

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-display: swap;
	background: #f8f8f8;
}

.square {
	border-radius: 4px;
	border: 1px solid $grey;
	&.is-2 {
		width: 2rem;
		height: 2rem;
		margin: 0 auto;
	}
}

.vue-swatches__swatch {
	&[aria-label='#FFFFFF'] {
		box-shadow: inset 0 0 2px rgb(0 0 0 / 75%);
	}
}