.s_types {
	@include flex(flex-start, flex-start, column);
	max-width: 23rem;
	padding-left: 1.5rem;
	.s_type {
		@include flex(center, flex-start);
		width: 100%;
		padding: .25rem 0!important;
		position: relative;
		cursor: move;
		&::before {
			@include flex();
			margin: auto 0;
			content: attr(data-number);
			position: absolute;
			right: calc(100% + .15rem);
			top: 0;
			bottom: 0;
		}
		&+.s_type {
			margin-top: 0;
			padding-top: 0;
		}
		.media-left {
			@include flex();
			margin-right: .5rem;
		}
		.media-content {
			padding-right: 2rem;
			position: relative;
			.delete {
				margin: auto 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
			}
		}
	}
}